<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Index</title>

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      overflow: hidden;
      display: flex;
      background: rgb(255, 201, 0);
      background: linear-gradient(0deg, rgba(255, 201, 0, 1) 2%, rgba(217, 59, 54, 1) 52%, rgba(182, 28, 176, 1) 100%);
      padding: 20px 0;
    }

    #scene {
      margin: auto;
      display: flex;
      position: relative;
    }

    #scene>canvas {
      margin: auto;
      border-radius: 8px;
    }

    #scene>#console {
      position: absolute;
      left: 16px;
      top: 16px;
      width: 300px;
      max-height: 120px;
      background-color: rgb(255 255 255 / 16%);
      padding: 4px;
      border-radius: 8px;
      overflow-y: scroll;
      overflow-x: hidden;

    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    #console::-webkit-scrollbar {
      display: none;
    }

    #scene>#console p {}

    #scene>#console p:not(:last-child) {
      margin-bottom: 4px;
    }
  </style>

</head>

<body>

  <input type="hidden" id="socketip" value="{{ socketIP }}">

  <div id="scene">
    <div id="console" x-data="console">
      <template x-for="msg in _messages">
        <p x-text="msg"></p>
      </template>
    </div>
  </div>


  <script src="https://cdn.socket.io/4.3.2/socket.io.min.js"
    integrity="sha384-KAZ4DtjNhLChOB/hxXuKqhMLYvx3b5MlT55xPEiNmREKRzeEm+RVPlTnAn0ajQNs"
    crossorigin="anonymous"></script>

  <script src="/matter.min.js"></script>

  <script src="/game.js"></script>

  <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>

</body>

</html>